#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: grid;
  grid-template-rows: 8rem auto;
  grid-template-areas:
    "header"
    "main";
}

header {
  grid-area: header;
  text-align: left;
}

main {
  grid-area: main;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
